*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root{
--primary:white 
}


body{

 

    background:white;
}
header{
        position: fixed;
       background-color: #fff9f4;
    color: white;
    display:flex;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
nav{
    
    width: 100%;
    display: flex;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
/* justify-content: center; */
}
#logo img{
    margin-left: 70px;
    width: 15%;
        vertical-align: middle;
/* border: 10px greenyellow solid; */
}
.logo-heading{
    color: black;
  
}
.link ul li a{
    display: flex;
    color:black ;
    text-decoration: none;
text-align: center;

}
ul{
    display: flex;
   gap: 5rem;
   padding-right:80px;
   padding-top:10px;

}
.orange-heading{
    color: orange;
 font-size:20px ;

}
#black-heading{
    color: black;
}


#ham{
    color: black;
 text-align: center;
 margin: 10px;
 display: none;

}
                /* hero section css start */

/* #mainn{

    justify-content: space-evenly !important;
    width: 100%;
    padding-top: 50%;
    height: auto;
    padding: 50px 0px 70px 0px;
    background-color: #fff9f4;
    display: flex;
    gap: -5px;
margin: 20px;
}

.img img{
    width: 50%;
justify-content: center;
}

.p{
    justify-content: center;
    text-align: center;
    padding-right: 30px;
gap: 20px;
align-items: center;
padding: 1rem !important;
}

button  >i{
    color: black;
    background: white;
} */
#mainn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding-bottom: 5%;
}
#mainn .shoe{
    width:40%;
}
#mainn .shoe img{
    padding-top: 50px;
    width: 100%;
}
 #mainn .main-p{
    display:flex;
flex-direction:column;
gap: 25px;
}
.main-p .orange{
    color: orange       ;
}
.button{
        background-color: #3D4FF3;
    padding: 10px;
    border: none;
color: white;
border-radius: 5px;
}


/* cart section  */

/* .jogar{
       display: flex;
    flex-wrap: wrap;
    padding-left: 95px;
    padding-top: 80px;
    width: 100%;
    background: #E5E5E5;
}
.heading{
        font-size: 30px;
    color: #363958;

}
.pic .pic{
    width: 100%;
}
.jogar .pic img{
    border: solid 1px rgba(27, 28, 27, 0.532) ;
width: 30%;
border-radius: 6px;
display: flex;

}
.shoe{
    
}

.cart{
    display: flex;
    flex-direction: column;
    border:black solid 2px;
flex-wrap: wrap;
} */


#carts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* background: #000; */
}



.jogar{
     /* padding-left: 95px; */
    /* padding-top: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #E5E5E5;

}


.jogar .shoe{
    width: 20%;
background: white;
border: rgba(81, 79, 79, 0.247) 2px solid ;
border-radius: 15px;
padding: 10px;
}
.jogar .shoe .pic img{
    width: 100%;
    background:#E5E5E5 ;
    border-radius: 10px;
}
.jogar .shoe {
    width: 100%;
}

.jogar .shoe   .shoe-p{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}
.heading{
 color: #363958;
    padding-bottom: 10px;
}

.jogar .shoe .btn{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}
.btn .dollar{
    color: orange;
    font-size:x-large;
}
.h2-p{
    color: #363958;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.casual{
    /* flex-wrap: wrap; */
    /* display:inline-flex; */
    /* display: flex; */
    /* flex-direction: row; */
}
/* cart section end */

.jogar .shoe {
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}
#carts {
    display: flex;
}


                                         /* media quries start */
                                 
                                         /* mobile */
@media screen and (max-width:480px) {
    
    #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}

                                     /* tablet */
@media screen and (min-width:481px) and (max-width:768px) {

  #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}
                                               /* laptop */
@media screen and (min-width:769px) and (max-width:1279px) {

  #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}
/* media quries end */