*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{

 

    background:white;
}
header{
        position: fixed;
       background-color: #fff9f4;
    color: white;
    display:flex;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
nav{
    
    width: 100%;
    display: flex;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
/* justify-content: center; */
}
#logo img{
    margin-left: 70px;
    width: 15%;
        vertical-align: middle;
/* border: 10px greenyellow solid; */
}
.logo-heading{
    color: black;
  
}
.link ul li a{
    display: flex;
    color:black ;
    text-decoration: none;
text-align: center;

}
ul{
    display: flex;
   gap: 5rem;
   padding-right:80px;
   padding-top:10px;

}
.orange-heading{
    color: orange;
 font-size:20px ;

}
#black-heading{
    color: black;
}


#ham{
    color: black;
 text-align: center;
 margin: 10px;
 display: none;

}
                /* hero section css start */

/* #mainn{

    justify-content: space-evenly !important;
    width: 100%;
    padding-top: 50%;
    height: auto;
    padding: 50px 0px 70px 0px;
    background-color: #fff9f4;
    display: flex;
    gap: -5px;
margin: 20px;
}

.img img{
    width: 50%;
justify-content: center;
}

.p{
    justify-content: center;
    text-align: center;
    padding-right: 30px;
gap: 20px;
align-items: center;
padding: 1rem !important;
}

button  >i{
    color: black;
    background: white;
} */
#mainn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
#mainn .shoe{
    width:40%;
}
#mainn .shoe img{
    padding-top: 50px;
    width: 100%;
}
 #mainn .main-p{
    display:flex;
flex-direction:column;
gap: 25px;
}
.main-p .orange{
    color: orange       ;
}





                                         /* media quries start */
                                 
                                         /* mobile */
@media screen and (max-width:480px) {
    
    #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}

                                     /* tablet */
@media screen and (min-width:481px) and (max-width:768px) {

  #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}
                                               /* laptop */
@media screen and (min-width:769px) and (max-width:1279px) {

  #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}
/* media quries end */