*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
:root{
--primary:white 
}


body{

 

    background:white;
}
header{
        position: fixed;
       background-color: #fff9f4;
    color: white;
    display:flex;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
nav{
    
    width: 100%;
    display: flex;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
/* justify-content: center; */
}
#logo img{
    margin-left: 70px;
    width: 15%;
        vertical-align: middle;
/* border: 10px greenyellow solid; */
}
.logo-heading{
    color: black;
  
}
.link ul li a{
    display: flex;
    color:black ;
    text-decoration: none;
text-align: center;

}
ul{
    display: flex;
   gap: 5rem;
   padding-right:80px;
   padding-top:10px;

}
.orange-heading{
    color: orange;
 font-size:20px ;

}
#black-heading{
    color: black;
}


#ham{
    color: black;
 text-align: center;
 margin: 10px;
 display: none;

}
                /* hero section css start */


#mainn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding-bottom: 5%;
}
#mainn .shoe{
    width:40%;
}
#mainn .shoe img{
    padding-top: 50px;
    width: 100%;
}
 #mainn .main-p{
    display:flex;
flex-direction:column;
gap: 25px;
}
.main-p .orange{
    color: orange       ;
}
.button{
        background-color: #3D4FF3;
    padding: 10px;
    border: none;
color: white;
border-radius: 5px;
}


/* cart section  */
.h{
    display: flex;
    width: 100%;
    padding-left:8%;
    
    /* gap: 1rem; */
    /* justify-content: center;/ */
    /* padding-top: 10%; */
}
.main-1 h1{
        font-size: 28px;
        padding: 20px;
padding-left: 8%;
        color: #363958;

}
.main-1{
    background: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    width: 100%;
}

.main-1 .casual .shoe{
    width: 80%;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;
    /* background: #000; */
}
.casual{
    /* display: flex; */
flex-direction: row;
flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    padding-top:10px ;
    background:#E5E5E5;
}
.casual .shoes{
    display: flex;
width:100% ;
flex-direction: row;
flex-wrap: wrap;
}

.casual h1{
    color: #363958;
}
.casual .shoe{
    width: 30%;
    background: white;
    padding: 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.casual .shoe img{
    width: 100%;

}
.casual .shoeIMG{
    background: #E5E5E5;
    border-radius: 10px;
    /* width: 25%; */
}

.casual h2{
    color:#363958;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.casual .content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.casual .dollar{
    display: flex;
    justify-content: space-between;
}
.casual #dollar{
font-size: x-large;
    color: orange;
}

/* cart section dend */


/* formal shoe start */

.casual
#im{
    border-radius: ;
}

/* formal shoe end */


/*  2-last section  */
.last-section{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 8%;
    background:  #E5E5E5;
}
.last-section .box .cart {
  background:white;
  /* border: #3D4FF3 solid 5px; */
  padding: 10px;
  display: flex;
  border-radius: 15px;
  width: 70%;
  justify-content: space-between;
  /* gap: 20px; */
}
.last-section .box .cart  img{
    width: 80%;
    /* padding-left: 20px; */
}
.last-section .box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* background:white; */
}
.last-section h3{
    color: #363958;
}
.last-section .mobile {
width: 100%;
}
.last-section .mobile img{
    width: 100%;

}
.last-section .mobile img{
    
    width: 120%;
    /* border: #3D4FF3 solid 5px; */
}

/* last section end  */

/* serch abr start */
.serch-bar{
    background: #E5E5E5;
    text-align: center;
    width: 100%;
    padding: 20px;

    
}

.serch-bar .serch input {
    background: white;
    width: 70% ;
    /* padding-b
    ottom: 20%; */
    padding: 9px;
    border-radius: 5px;
    /* padding-left: 30%; */
}


.serch-bar .serch {
    background: white;
    border-radius: 20px;
    /* border: #091be4 solid 10px; */
    padding: 50px;
    margin-left: 10%;
    display: block;
    width: 80%;
}
.serch-bar .serch input placeholder{
    text-align: center;
    align-items: center;
}
.serch-bar h2{
    padding-bottom: 30px;
    color: #363958;

}
.serch-bar button{
    padding-right: 10px;
}


/* serch abr end  */

/* footer start */
.footer {
    background:white;
    width: 100%;
    display: flex ;
/* border: #3D4FF3 solid 5px; */
align-content: center;
padding: 50px;
padding-left: 20%;
}

.footer .one {
    /* border: #363958 solid 3px; */
  
    display: flex;
  
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: left;
}

.two h6{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
padding-left: 40%;
/* color: #3D4FF3; */
padding-bottom: 5%;
}
.orange-last {
    color: orange;
}


/* footer end */
/* media quries start */
                                 
                                         /* mobile */
@media screen and (max-width:480px) {
    
    #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }



      #main {
    flex-direction: column;
    text-align: center;
  }

  .shoe {
    order: 1;   /* image first */
  }

  .main-p {
    order: 2;   /* text second */
  }

  .main-p h1 {
    font-size: 28px;
  }

  .main-p p {
    font-size: 14px;
  }

  .shoe img {
    width: 100%;
  }
}

                                     /* tablet */
@media screen and (min-width:481px) and (max-width:768px) {

  #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}
                                               /* laptop */
@media screen and (min-width:769px) and  {

  #ham{
    display: block;
    }
    .link{
        display: none;
    }
    header{
padding: 0px;
    }
}
/* media quries end */